* {
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: rgb(218, 223, 197);
  /*background-color: #24c59d;*/
  /*background-image: url("peakpx.jpg");*/
  margin: 0;
  padding: 0;
}
h2 {
  margin: 10px;
}
header {
  background-color: #333333;
  color: #ffd700;
  padding: 10px;
  text-align: center;
  position: relative;
  height: 60vh;
  overflow: hidden;
}
video {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure the video covers the entire container */
}

nav {
  /*background-color: #4169e1;*/
  background-color: rgb(197, 126, 204);
  text-align: center;
  position: relative;
  z-index: 1;
}
#switchLanguageButtons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  top: 10px;
  left: -20px;
}
#switchLanguageButtons button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 5px;
  border-radius: 40%;
  z-index: 2;
}
#switchLanguageButtons img {
  width: 30px;
  height: auto;
}
#mainNav {
  position: relative;
  bottom: 30px;
  z-index: 1;
}
nav a {
  font-size: 24px;
  color: #ffffff;
  text-decoration: none;
  margin: 0 15px;
}
/*MAIN CSS*/
#ourservice {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 20px;
  background-color: #e0e0e0;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.bagmakingphoto {
  width: auto;
  height: auto;
  max-height: 260px;
  max-width: 340px;
  border-radius: 15px;
  display: flex;
}

.ourservicetext {
  padding: 20px;
}

p {
  font-weight: 700;
  font-size: larger;
}

ul {
  list-style: none;
  padding-top: 10px;
}

ul li {
  position: relative;
  padding-left: 25px;
  margin-top: 10px;
  font-weight: 500;
}

ul li::before {
  content: "\1F45C";
  color: #4169e1;
  font-size: 20px;
  position: absolute;
  left: 0;
}
#mapLocation {
  width: 100%;
  height: 300px;
}

/* Media Query for tablets and larger devices */

@media only screen and (min-width: 600px) {
  #mapLocation {
    max-width: 400px;
  }
}
@media only screen and (min-width: 600px) {
  #ourservice {
    flex-direction: row;
    justify-content: space-around;
  }

  .bagmakingphoto {
    max-width: 300px;
    justify-content: center;
  }
}
@media only screen and (min-width: 601px) and (max-width: 830px) {
  ul {
    margin-left: -350px;
  }
}
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  p {
    font-size: 18px;
  }

  ul li {
    font-size: 16px;
  }
}
@media only screen and (max-width: 600px) {
  p {
    font-size: 14px;
  }

  ul li {
    font-size: 12px;
  }
}
/*FOOTER*/
footer {
  background-color: #333333;
  color: #cccccc;
  text-align: center;
  padding: 0;
  position: relative;
  bottom: 0;
  width: 100%;
}
.footernav {
  padding: 10px;
  text-align: center;
}
.footernav a {
  color: #ffffff;
  text-decoration: none;
  margin: 0 15px;
}
/*here is carousel code*/
.carousel {
  margin-top: 10px;
  width: 100%;
}
.carousel-cell {
  width: auto;
  height: auto;
  margin-right: 10px;
  border-radius: 15px;
  background-size: cover;
  background-position: center center;
}
.carousel-cell::before {
  display: block;
  content: "";
}
.carousel-cell img {
  height: 500px;
  width: auto;
  margin-right: 10px;
  border-radius: 15px;
  background-size: cover;
  background-position: center center;
}
.carousel-cell img::before {
  display: block;
  content: "";
}
@media (max-width: 768px) {
  .carousel-cell img {
    height: 300px;
  }
}
@media (max-width: 457px) {
  .carousel-cell img {
    height: 200px;
  }
}
/*GALLERY*/
#header-4 {
  display: flex;
  justify-content: center;
  font-size: 40px;
  font-weight: 900;
}
.gallery {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery a {
  height: 20vw;
  flex: 0 0 16.6%;
  margin: 2vw;
  overflow: hidden;
  border-radius: 15px;
  transition: 1s;
  box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.9);
  text-decoration: none; /* Remove underline on anchor tags */
}

.gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.gallery a:hover {
  transform: scale(1.1);
}
@media (max-width: 768px) {
  .gallery a {
    flex: 0 0 25%;
    height: 25vw;
    border-radius: 10px;
  }
  #header-4 {
    font-size: 30px;
  }
}
@media (max-width: 457px) {
  .gallery {
    padding: 0;
  }
  .gallery a {
    flex: 0 0 44%;
    height: 44vw;
    border-radius: 5px;
  }
  #header-4 {
    font-size: 20px;
  }
}

/* CSS Button */
button {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #5adaff 0,
    #5468ff 100%
  );
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
  margin: 15px;
}

button:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

button:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

button:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}
.contactbutton {
  justify-content: center;
}
.showlessbutton {
  display: none;
}
/* FORM CSS*/
form {
  background-color: #fff;
  margin: 80px;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 8px;
}
.shortbox {
  width: 20%;
}

input,
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

checkbox,
radio {
  margin-right: 8px;
}

input[type="submit"] {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

/* Style for the toast message */
#toast {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

/* Show the toast message */
#toast.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Toast fade-in animation */
@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

/* Toast fade-out animation */
@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
} /* Style for the toast message */
#toast {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

/* Show the toast message */
#toast.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Toast fade-in animation */
@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

/* Toast fade-out animation */
@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
